*{
	margin: 0;
	padding: 0;
}


#intro, #about, #skills, #projects, #blogs, #contact{
    margin-top: 100px;
}

#about{
	line-height: 2;
}

#about img{
	max-width: 300px;
	max-height: 300px;
}

#skills li{
	color: white;
}
